* { margin:0;
padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.text-center {
text-align: center;
}
.border {
    border: 5px solid black;
}
.espace {
   min-height: 30rem; 
}
.text-espace {
    line-height: 2.8em;
}
.espace-coordonées {
     min-height: 20.2rem; 
}